@model List<SunCity.DAL.TblMembershipPlan>
@using SunCity.Core


<div class="panel panel-primary-head">
    <div class="panel-heading">
        <h4 class="panel-title">Membership Plan List</h4>
        @*<p>Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example.</p>*@
    </div>
    <!-- panel-heading -->

    <table id="MembershipPlanTable" class="table table-striped table-bordered responsive">
        <thead class="">
            <tr>
                <th style="display: none">MemberPlan#</th>
                <th>Membership Plan Name</th>
                <th>Membership Period</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var p in Model)
            {

                <tr>

                    <td style="display: none;">@p.MembershipPlanId</td>
                    <td>@p.MembershipPlanName</td>
                    <td>@p.MembershipPeriod</td>
                    <td >
                        @if (p.IsDeleted == true)
                        {
                            
                            <span class="glyphicon glyphicon-remove"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-ok"></span>
                        }

                    </td>
                    <td><a href="@Url.Action("EditMembershipPlan", new { MembershipPlanId = p.MembershipPlanId })" title="Edit" class="icon-1 info-tooltip"><span class="glyphicon glyphicon-list-alt"></span></a>&nbsp;&nbsp;<a href="@Url.Action("DeleteMembershipPlan", new { MembershipPlanId = p.MembershipPlanId })" onclick="javascript:return ConfirmDeleteMembershipPlan();" title="Delete" ><span class="glyphicon glyphicon-trash"></span></a></td>

                </tr>
            }
        </tbody>
    </table>
</div>
<!-- panel -->
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script>
    jQuery(document).ready(function () {

        jQuery('#MembershipPlanTable').DataTable({
            responsive: true
        });
        var MembershipPlanTable = $('#MembershipPlanTable').dataTable();
        // Sort immediately with columns 0 and 1
        MembershipPlanTable.fnSort([[0, 'desc']]);
    });

    function ConfirmDeleteMembershipPlan() {
        return confirm("Are you sure want to delete this Membership Plan?");
    }

</script>
